@charset "utf-8";

.site {
	font-size: 110%;
	line-height: 1.5em;
	margin: 3em auto 2em;
	text-align: justify;
	width: 40em;
	
}

header {
	text-align: center;
}


h1 {
	font-size: 120%;
	color: #333;
	font-weight: bold;
}

h1 a{
	text-decoration: none;
	color: #b22222;
}

h1 a:hover {
	color: #000;
}

h2 {
	font-size: 80%;
	font-style: italic;
	text-align: center;
}

ul.posts {
	list-style-type: none;
	margin-bottom: 2em;
}

ul.posts li {
	line-height: 1.75em;
}

ul.posts span, #content h1 + p  {
	font-size: 85%;
	color: #aaa;
	font-family: Menlo, "Courier New", monospace;
}




ul#devices {
	list-style-type: none;
}

ul#devices li {
	line-height: 1.75em;
}

#devices {
	font-size: 80%;
}

.outputdevice {
	display:inline-block;
	margin: 0 1em;
	text-align: center;
}

.kindle {
	width: 55px;
}

.epub {
	width: 47px;
}

.outputdevice a {
	text-decoration: none;
}

.outputdevice img {
	padding-bottom: 0;
}

.contact {
	float:left;
	margin-right:3em;
	text-align: justify;
}


/*---- Content ----*/

#content {
	margin: 3em 5em 3em;
}

#content h1 {
	font-size: 180%;
	margin-top: 2em;
}

#content h2 {
	font-size: 120%;
	font-style: normal;
	margin-bottom: 2em;
	text-align: left;
}

#content h2 {
	font-size: 110%;
	margin-bottom: 1em;
}

#content p {
	margin: 1em 0 2em;
}

#content blockquote {
	text-indent: 1em;
	font-style: italic;
	color: #777;
	font-size: 100%;
	line-height: 1.4em;
	margin-bottom: 2em;
	text-align: left;
}

#content blockquote > p {
	margin: 0.5em;
}

#content blockquote > p + p {
	text-align: right;
	font-style: normal;
	font-size: 85%;
}


/*---- footer ----*/

footer {
	border-top: 4px solid #eee;
	text-align: center;
	color: #3e3e3e;
	font-size: 80%;
}
