<!DOCTYPE html>
<html dir="ltr" lang="es">
<head>
	<meta charset=utf-8>
    <title>{{ page.title }}</title>
	<meta name="author" content="Xavier Belanche" /> 
	<meta name="description" content="blog de Xavier Belanche" />
 	<link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" title="master" charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" title="master" charset="utf-8">
	<!-- Typekit --> 
	<script type="text/javascript" src="http://use.typekit.com/efe6xzb.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<div class="site">
		<header role="banner">
			<hgroup>
				<h1 class="logo"><a href="http://xbelanch.net">xbelanch.net</a></h1>
				<h2 class="strapline">...they must perform a Quirkafleeg!</h2>
			</hgroup>
		</header>
		<div id="content">
			{{ content }}
	  	</div>
		<footer role="contentinfo">
				<p>&copy; 2010 Xavier Belanche Alonso. Los contenidos están bajo licencia <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/es/deed.es_PE">Creative Commons 3.0</a>.<br /> Si deseas ponerte en contacto con el autor, escríbele a <script type="text/javascript">document.write('\u0078\u0062\u0065\u006c\u0061\u006e\u0063\u0068\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d')</script>.</p>
		</footer>
	</div>
	
	<a href="http://github.com/xbelanch"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

	<script type="text/javascript">
	//<![CDATA[
	(function() {
		var links = document.getElementsByTagName('a');
		var query = '?';
		for(var i = 0; i < links.length; i++) {
		if(links[i].href.indexOf('#disqus_thread') >= 0) {
			query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
		}
		}
		document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/xbelanch/get_num_replies.js' + query + '"></' + 'script>');
	})();
	//]]>
	</script>
	
</body>
</html>
